<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

</head>

<body>

 

                <iframe height="390" width="400">

 

 

  <form id="challengeForm" method="POST" action=https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect>

    <input type="hidden" name="JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjMDYzYjM5NS02ODE4LTQwYjMtYmNjYS0zYWY1NGQwMGE5MTUiLCJpYXQiOiIxNjY3NDgxMzUzIiwiaXNzIjoiNWZjNmEwYjA0ZTM3MDg1MzIxOTI1ZTg4IiwiZXhwIjoiMTY2NzQ4ODU1MyIsIk9yZ1VuaXRJZCI6IjVmYzZhMGIwMDljNTBiMmQ0MDhmNWZhZCJ9.Vl_rLPGE4MZuQwZl7N5gO7V7rrHVcTALQztW0CMm0ho" />

    <input type="hidden" name="MD" value="-"</form>

  <script>

    window.onload = function() {

      // Auto submit form on page load

                  alert('');

      document.getElementById('challengeForm').submit();

    }

  </script>

</iframe>

</body>

</html>